/.env.example
/datasets/raw
/datasets/derived_artifacts/aggregate_old
/datasets/derived_artifacts/commit_metrics
/datasets/derived_artifacts/coverage_metrics
/datasets/derived_artifacts/patch_coverage_metrics_old
/datasets/derived_artifacts/patch_coverage_inputs_old
/datasets/derived_artifacts/patch_coverage_metrics
/datasets/derived_artifacts/patch_coverage_inputs
/datasets/derived_artifacts/バックアップ
/logs
/errors
/scripts/いらないかも
/scripts/project_mapping/いらないかも
/analysis/research_question3/いらないかも
/analysis/research_question3/tests
/analysis/research_question3/analysis
/analysis/research_question3/.pytest_cache
/analysis/statistic/いらないかも
/scripts/metric_extraction/いらないかも
/scripts/metric_extraction/text_code_metrics/いらないかも
/scripts/metric_extraction/patch_coverage_pipeline/いらないかも
/scripts/metric_extraction/coverage_aggregation/いらないかも
/scripts/metric_extraction/patch_coverage_pipeline/バックアップ
/scripts/metric_extraction/update_labels.sh
/scripts/metric_extraction/run_update_labels_all.sh
/directory_overview.md
/scripts/data_storage_locations.md